*.pyc
.vscode
*.so
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

build/
diff_gaussian_rasterization.egg-info/
dist/

simple_knn.egg-info/

result/

ckpt/

*.onnx
*.engine

third_party/
